<form method="post" action="{{ path('', {id:}) }}">
    <input type="hidden" name="token" value="{{ csrf_token('delete_discussion' ~ figuresId.id) }}">
    <button class="btn btn-danger" type="submit">Supprimer</button>
</form>