{% extends 'base.html.twig' %}

{% block title %}List Image{% endblock %}

{% block body %}
    <h1 class="m-5">Liste des Tricks en image</h1>
    <ul class="list-group list-group-numbered w-50 m-auto">
        {% for image in images %}
            <li class="list-group-item d-flex justify-content-between align-items-start mb-4">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">{{ image.title }}</div>
                    <a href="{{ path('detail_figure', {id : image.figure.id}) }}">figure : {{ '' ~ image.figure.title }}</a>
                </div>
                <div class="badge bg-dark rounded-pill fs-5" data-bs-toggle="modal" data-bs-target="#imageModal{{ image.id }}"><i class="bi bi-eye"></i></div>
            </li>
            <!-- Modal -->
            {% include('figure/modal/imageModal.html.twig') %}
        {% endfor %}
    </ul>
{% endblock %}
