<!-- Modal => Important afin d'utiliser la modal il faut que la variable se nome "image" -->
<div class="modal fade" id="imageModal{{ image.id }}" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card bg-dark text-white">
                    <img src="{{ asset('build/images/' ~ image.link) }}" class="card-img" alt="{{ image.title }}">
                    <div class="card-img-overlay">
                        <h5 class="card-title">{{ image.title }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>