$form-feedback-valid-color:#27ae60;
$form-feedback-invalid-color: #c0392b;

$pagination-bg: #1e272e;
$pagination-color: #d2dae2;

$pagination-active-border-color:#485460;
$pagination-active-color: #d2dae2;
$pagination-active-bg: #485460;

$pagination-hover-color: #BDBFC1FF;
$pagination-hover-bg: #E9ECEFFF;
$pagination-hover-border-color: #BDBFC1FF;

$pagination-focus-bg: #485460;

$h6-font-size: 0.8rem;

