.contenu {
    max-width : 990px;
    margin: auto;
    text-align: center;
}
.emailLogo{
    display: block;
    width: 50%;
    height: 15em;
    margin: auto;
    border-radius: 10px;
}
.emailConfirm{
    margin: 30px;
}
.emailValidation{
    margin-top: 36px;
    margin-bottom: 35px
}

.btn-validation{
    background: #2f3640;
    padding: 16px;
    color:aliceblue;
    border-radius: 8px;
    text-decoration: none;
}

.btn-validation:hover {
    background: white;
    border: solid 0.5px #2f3640;
    border-radius: 8px;
    color: #2f3640;
    text-decoration: none;
}